body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 150px;
    background-color: aliceblue;
}
#titulo{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #contenido, h1 h2 h3 h4 h5{
    text-align: center;
  }
  #contenido{
    margin: 50px;;
    display: flex;
    flex-direction: column;   
    background-color: white;
  }
  #contenido p{
    text-align: justify;
  }
 

  *{box-sizing:border-box;}  
  nav a{
        text-decoration:none;
        color:inherit;
        font-size:14px;
        }
              
  nav li{
        display:inline-block;
        justify-content: center;
        width:180px;
        height:30px;
        padding:5px 10px;
        background-color:#000;
        border:1px solid #000;
        text-align:center;
        color:rgb(175, 170, 170);
        position:relative;
  }
              
  nav li:hover{
        background-color:#fff;
        }
              
  nav li>ul{
        display:none;
        }
  
  nav li:hover>ul{
        display:block;
        position:absolute;
        top:30px;
        left:0px;
  }

  footer{
      text-align: center;
      align-items: center;
      background-color: rgb(44, 40, 40);
      color: #fff;
      padding-top: 0px;
      padding-bottom: 0px;
}
aside {
      width: 100%;
      padding-left: 15px;
      margin-left: 15px;
    }